extends layout

block content
    image(name='userPic' id='userPic' src=`https://api.adorable.io/avatars/face/${config.avatarEyes}/${config.avatarNose}/${config.avatarMouth}/${config.avatarColor}`)
    form(method="post" action="/edit")
        div
            label(for="email") Email: 
                input(type="text" name="email" placeholder="Email" value=config.email required)
        
        div
            label(for="username") Username: 
                input(type="text" name="username" placeholder="Username" value=config.username required)
        
        div
            label(for="password") Change Password: 
                input(type="password", name="password" placeholder="Only enter a new password if you wish to change it")
        
        div
            label(for="confirmPassword") Confirm Password: 
                input(type="password", name="confirmPassword" placeholder="Only enter a new password if you wish to change it")
        
        div
            label(for="age") Age: 
                input(type="number" name="age" placeholder="18" value=config.age required)
        
        div
            label What is your favorite color?
                label(for="Orange") Orange
                    input(type="radio" id="Orange" name="favoriteColor" value="Orange" checked=config.securityQuestion1==="Orange")
                label(for="Purple") Purple
                    input(type="radio" id="Purple" name="favoriteColor" value="Purple" checked=config.securityQuestion1==="Purple")
                label(for="Cyan") Cyan
                    input(type="radio" id="Cyan" name="favoriteColor" value="Cyan" checked=config.securityQuestion1==="Cyan")
                label(for="OliveDrab") Olive Drab
                    input(type="radio" id="OliveDrab" name="favoriteColor" value="Olive Drab" checked=config.securityQuestion1==="OliveDrab")

        div
            label Which video game is better?
                label(for="Halo") Halo
                    input(type="radio" id="Halo" name="betterVideogame" value="Halo" checked=config.securityQuestion2==="Halo")
                label(for="COD") Call of Duty
                    input(type="radio" id="COD" name="betterVideogame" value="Call of Duty" checked=config.securityQuestion2==="call of Duty")
                label(for="Battlefield") Battlefield
                    input(type="radio" id="Battlefield" name="betterVideogame" value="Battlefield" checked=config.securityQuestion2==="Battlefield")
                label(for="SuperMario") Super Mario (Anything)
                    input(type="radio" id="SuperMario" name="betterVideogame" value="Super Mario" checked=config.securityQuestion2==="Super Mario")
        
        div
            label Which do you prefer?
                label(for="HalfEmpty") Glass Half Empty
                    input(type="radio" id="HalfEmpty" name="preferredPhrase" value="Glass Half Empty" checked=config.securityQuestion3==="Glass Half Empty")
                label(for="HalfFull") Glass Half Full
                    input(type="radio" id="HalfFull" name="preferredPhrase" value="Glass Half Full" checked=config.securityQuestion3==="Glass Half Full")
                label(for="NewDay") Tommorrow is a new day
                    input(type="radio" id="NewDay" name="preferredPhrase" value="Tomorrow is a new day" checked=config.securityQuestion3==="Tomorrow is a new day")
                label(for="Tired") I am tired
                    input(type="radio" id="Tired" name="preferredPhrase" value="I am tired" checked=config.securityQuestion3==="I am tired")
        div
            label Edit Profile Avatar
            Label(for="EyeDropdown") Eyes:&nbsp;
                select(name='EyeDropdown' id='EyeDropdown')
                    option(selected=config.avatarEyes value=config.avatarEyes)
                    option(value='eyes1') Oval
                    option(value='eyes2') Saggy
                    option(value='eyes3') Close Hole
                    option(value='eyes4') Far Hole
                    option(value='eyes5') Happy Arcs
                    option(value='eyes6') Large Saggy
                    option(value='eyes7') Big Sad
                    option(value='eyes9') Angled Oval

            Label(for="NoseDropdown") Nose:&nbsp;
                select(name='NoseDropdown' id='NoseDropdown')
                    option(selected=config.avatarNose value=config.avatarNose)
                    option(value='nose2') Slanted
                    option(value='nose3') Stout
                    option(value='nose4') High
                    option(value='nose5') Fat
                    option(value='nose6') Tall
                    option(value='nose7') Short
                    option(value='nose8') Lengthy
                    option(value='nose9') Large

            Label(for="MouthDropdown") Mouth:&nbsp;
                select(name='MouthDropdown' id='MouthDropdown')
                    option(selected=config.avatarMouth value=config.avatarMouth)
                    option(value='mouth1') Straight Line
                    option(value='mouth3') Puckered Lips
                    option(value='mouth5') Open
                    option(value='mouth6') Rectangle
                    option(value='mouth7') Large Saggy Oval
                    option(value='mouth9') Medium Happy
                    option(value='mouth10') Sideways Mouth
                    option(value='mouth11') Large Happy

            Label(for="AvatarColor") Color:&nbsp;
                input(type="color" id="AvatarColor" name="AvatarColor" value=`#${config.avatarColor}`)

        input(type="submit" value="Update Account")
    script(src='scripts/avatarUpdater.js')